name: Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: hub.hackamonth.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            hub.hackamonth.io/getrafty-org/site:sha-${{ github.sha }}
            hub.hackamonth.io/getrafty-org/site:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
